[Unit]
Description=Query Huawei Inverter via Modbus and publish to MQTT

[Service]
WorkingDirectory=/opt/huawei-solar-modbus-to-mqtt
ExecStart=/bin/bash run.sh
Restart=always
RestartSec=10
User=mjaschen

[Install]
WantedBy=multi-user.target
