[Unit]
Description=Query Huawei Inverter via Modbus and publish to MQTT
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --name huawei2mqtt huawei-solar-modbus-to-mqtt:latest
ExecStop=/usr/bin/docker stop -t 2 huawei2mqtt
ExecStopPost=/usr/bin/docker rm -f huawei2mqtt

Restart=always
RestartSec=30
User=mjaschen

[Install]
WantedBy=multi-user.target
